<div class="container mt-5 mb-5">

    <h1 class="text-center">About Me</h1>

    <p>
        Hello, I am Deniz YILDIZ and I am studying for computer engineering.
        <br/>
        
        So, this is a test website created by me. I hope you will like it. 
        
        <br/>

        Also, these cats are my friends and my sister whose names are Berkan,Emre,Sepehr and Melis. I really love my friends and my sister.
        
        <br/>

        Thank you for visiting :*
       


    </p>


</div>
